jupyter_sphinx==0.1.4
#git+https://github.com/maartenbreddels/jupyter-sphinx@ipywidgets7require_d
ipyvolume==0.6.0a1
ipywidgets>=7.4.0
traittypes
traitlets
Pillow
scipy
git+https://github.com/maartenbreddels/nbconvert@fix_closing_script_early#egg=nbconvert
git+https://github.com/maartenbreddels/nbsphinx@fix_closing_script_early#egg=nbsphinx
recommonmark
matplotlib==3.1.1
ipywebrtc
requests
emcee
corner
sphinx_gallery
vaex-core
vaex-hdf5
vaex-ml
