jupyter_sphinx==0.1.4
#git+https://github.com/maartenbreddels/jupyter-sphinx@ipywidgets7require_d
ipyvolume==0.6.0a1
ipywidgets>=7.4.0
traittypes
traitlets
Pillow
scipy
git+https://github.com/spatialaudio/nbsphinx
recommonmark
matplotlib==3.1.1
ipywebrtc
requests
emcee
corner
sphinx_gallery
vaex-core
vaex-hdf5
nbformat==4.4.0
